extends layout

block content
  h1 Вход
  form(action=url, method="post")
    fieldset
      legend Пользователь
      p
        label(for="login") Логин:
        br
        input#login(type="text", name="login")
      p
        label(for="password") Пароль:
        br
        input#password(type="password", name="password")
    p
      input(type="submit", value="Войти")
