extends ../index

block pageContent
  - const isThisUser = thisUser._id.toString() === user._id.toString()
  - const disabled = !(user.master || isThisUser)
  h1
    if isThisUser
      |Ваша страница
    else
      |Страница #{thisUser.role === 'elf' ? 'эльфа' : 'гнома'}
  h2
    if isThisUser
      |Ваши данные
    else
      |Данные #{thisUser.role === 'elf' ? 'эльфа' : 'гнома'}
  form(action="/users/" + thisUser._id + "/update", method="post")
    fieldset
      p
        label(for="login") Логин: 
        input#login(type="text", name="login", value=thisUser.login, disabled=disabled)
      p
        label(for="password") Пароль: 
        input#password(type="password", name="password", value=thisUser.password, disabled=disabled)
      p
        label(for="name") Имя: 
        input#name(type="text", name="name", value=thisUser.name, disabled=disabled)
      if thisUser.role === 'gnome'
        p
          label(for="master") Мастер: 
          input#master(type="checkbox", name="master", checked=thisUser.master, disabled=!user.master)
      p
        label(for="deleted") Удален: 
        input#deleted(type="checkbox", name="deleted", checked=thisUser.deleted, disabled=!user.master)
      if !disabled
        input(type="submit", value="Изменить")
  if thisUser.role === 'elf'
    h2 Предпочтения
    form(action="/users/" + thisUser._id + "/preferences/add", method="get")
      fieldset
        if thisUser.favorites !== undefined && thisUser.favorites.length > 0
          table
            thead
              th Тип
              th Предпочтение
            tbody
              each fav in thisUser.favorites
                tr
                  td= fav.gemType.name
                  td= fav.priority
        else
          p Нет предпочтений
        if !disabled && !user.master
          p
            span Добавить: 
            input(type="number", name="number", min="0" max="10", value="0", required)
            input(type="submit", value="Изменить")
  p
    span Дата регистрации: 
    span= thisUser.registrationDate ? thisUser.registrationDate.toLocaleString() : 'Никогда'
  p
    span Дата последней авторизации: 
    span= thisUser.authorizationDate ? thisUser.authorizationDate.toLocaleString() : 'Никогда'
  p
    span Дата удаления: 
    span= thisUser.deletionDate ? thisUser.deletionDate.toLocaleString() : 'Никогда'
  p
    span Статус: 
    span= thisUser.deleted === true ? 'Удален' : 'Активен'
  if thisUser.role === 'elf'
    h2 Полученные драгоценности
    if thisUser.receivedGems.length === 0
      p Нет полученных драгоценностей
    else
      table
        thead
          th Тип
          th Количество
        tbody
          each gem in thisUser.receivedGems
            tr
              td= gem.type.name
              td= gem.number
    h2 Назначенные, но неподтверждённые драгоценности
    form(action="/users/" + thisUser._id + "/confirm", method="post")
      fieldset
        if thisUser.assignedGems.length === 0
          p Нет назначенных неподтверждённых драгоценностей
        else
          table
            thead
              th Тип
              th Дата<br>добычи
              th Дата<br>назначения
              th Добыл
              th Назначена<br>вручную
              th
            tbody
              each gem in thisUser.assignedGems
                tr
                  td= gem.type && gem.type.name
                  td= gem.mineDate.toLocaleString()
                  td= gem.assignDate && gem.assignDate.toLocaleString()
                  td= gem.miner && gem.miner.name
                  td= gem.manualAssignment ? 'Да' : 'Нет'
                  td
                    if !disabled && !user.master
                      input(type="checkbox", name="gem[" + gem._id + "]")
          if !disabled && !user.master
            p
              input(type="submit", value="Подтвердить выбранные")
  if thisUser.role === 'gnome'
    h2 Добытые драгоценности
    if thisUser.minedGemsList.length === 0
      p Нет добытых драгоценностей
    else
      table
        thead
          th Тип
          th Количество
        tbody
          each gem in thisUser.minedGemsList
            tr
              td= gem.type.name
              td= gem.number
